:root {
  /* TYPOGRAPHIE PRINCIPALE */
  --typo-title-1-size: 150px;
  --typo-title-2-size: 38px;
  --typo-title-2-font: 'New Order', sans-serif;
  --typo-title-2-weight-light: 300;
  --typo-title-2-weight-bold: 700;

  /* BOUTONS */
  --typo-button-size: 32px;

  /* STATS */
  --typo-stats-h1-size: 90px;
  --typo-stats-h2-size: 35px;

  /* VARIABLES RESPONSIVES UTILISÉES DANS style.css */
  --font-title: var(--typo-title-1-size);
  --font-subtitle: var(--typo-title-2-size);
  --font-button: var(--typo-button-size);
  --font-stats-h1: var(--typo-stats-h1-size);
  --font-stats-h2: var(--typo-stats-h2-size);
  --font-bold: var(--typo-title-2-weight-bold);
  --radius-button: 59px;
  --radius-card: 22px;
}

/* TABLETTE */
@media screen and (max-width: 1024px) {
  :root {
    --font-title: 80px;
    --font-subtitle: 36px;
    --font-button: 28px;
    --font-stats-h1: 70px;
    --font-stats-h2: 28px;
    --radius-button: 8px;
    --radius-card: 18px;
  }
}

/* MOBILE */
@media screen and (max-width: 680px) {
  :root {
    --font-title: 48px;
    --font-subtitle: 24px;
    --font-button: 20px;
    --font-stats-h1: 48px;
    --font-stats-h2: 20px;
    --radius-button: 8px;
    --radius-card: 12px;
  }
}
